*{
	background-color: var(--bs-body-color) !important;
	color: white;
	font-family: var(--bs-body-font-family) !important;
}
.container{
	max-width: 1279px !important;
}

.form-control{
	width: 390% !important;
	border: 1px solid white;
	color: white !important;
}
::placeholder {
	color: white !important;
}
.w-100{
	margin-left: 190px;
}
.btn-primary{
	background-color: var(--bs-btn-border-color) !important;
}
.result{
	width: 1080px;
}

@media screen and (max-width: 600px) {
	*{
		overflow: hidden;
	}
	.container-fluid{
		width: 100% !important;
	}
	.d-flex{
	    width: 300% !important;
    }
    .form-control{
	    width: 100% !important;
	    border: 1px solid white;
	    color: white !important;
    }
    .w-100 {
        margin-left: 50px;
    }
}
