*{
	background-color: var(--bs-body-color) !important;
	color: white;
	font-family: var(--bs-body-font-family) !important;
}
.container{
	max-width: 1279px !important;
}

.form-control{
	width: 390% !important;
	border: 1px solid white;
	color: white !important;
}
::placeholder {
	color: white !important;
}
.w-100{
	margin-left: 190px;
}
.btn-primary{
	background-color: var(--bs-btn-border-color) !important;
}
/*h2{
	font-family: var(--bs-body-font-family) !important;
	font-size: 22px;
	font-weight: bold;
}*/
.result{
	width: 1080px;
}